<a href="https://colab.research.google.com/github/baburamchoudhary/baburamchoudhary/blob/main/Pandas_fileHandling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd


print(pd.__version__)

#df = pd.read_csv('data.csv')

#print(df.to_string())

1.3.5

In [ ]:
## Create your own dataset
import pandas
# it imports data in tabular form (dataframe) (read and wite)

#Dictionary DS is similar to tabular structure
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"], 
  'passings': [3, 7, 2]
}

data1 = pandas.DataFrame(mydataset)

# comma separated value
#print(data1)
#print(data1.describe())

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2
       passings
count  3.000000
mean   4.000000
std    2.645751
min    2.000000
25%    2.500000
50%    3.000000
75%    5.000000
max    7.000000

In [ ]:
data1.to_csv("temp1.csv", sep="\t", index=False)

In [ ]:
import pandas as pd 

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)
print(myvar[0])

In [ ]:
import pandas as pd 

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

In [ ]:
import pandas as pd 

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

In [ ]:
#!pip install pandas

In [ ]:
import pandas as pd

In [ ]:
print(pd.__version__)

1.3.5

In [ ]:
!ls

drive  panda_test.txt  sample_data

In [ ]:
#dataframe
data = pd.read_csv("/content/panda_test.txt")

In [ ]:
print(data)

      Col1         Col2   Col3
row1     1            2      3
row2     2            4      5
row3     5            6      3

In [ ]:
print(data.describe())

           Col1         Col2      Col3
count  3.000000          3.0  3.000000
mean   2.666667          4.0  3.666667
std    2.081666          2.0  1.154701
min    1.000000          2.0  3.000000
25%    1.500000          3.0  3.000000
50%    2.000000          4.0  3.000000
75%    3.500000          5.0  4.000000
max    5.000000          6.0  5.000000

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, row1 to row3
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Col1         3 non-null      int64
 1          Col2  3 non-null      int64
 2    Col3        3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [ ]:
#the data is in the form of nd array
print(data.loc[['row1', 'row2', 'row3']])

      Col1         Col2   Col3
row1     1            2      3
row2     2            4      5
row3     5            6      3

In [ ]:
print(data.head(2)) # display top 2 rows

      Col1         Col2   Col3
row1     1            2      3
row2     2            4      5

In [ ]:
print(data.columns)

Index(['Col1', '       Col2', ' Col3'], dtype='object')

In [ ]:
print(data.loc[:,['Col1','       Col2']])

      Col1         Col2
row1     1            2
row2     2            4
row3     5            6

In [ ]:
import numpy as np
x = data.loc[:,['Col1','       Col2']]
print(x)
print(x.ndim)
print(type(x))
#x =np.array(x).reshape(3,2)
print(x.shape)

      Col1         Col2
row1     1            2
row2     2            4
row3     5            6
2
<class 'pandas.core.frame.DataFrame'>
(3, 2)

In [ ]:
import numpy as np
print(np.sum(x))

8

In [ ]:
import numpy as np
# iloc is used for integer indexing
# loc is used for text/key (actual) based access
x = data.iloc[:,[0,1]]
print(x)
print(x.ndim)
print(type(x))
#x =np.array(x).reshape(3,2)
print(x.shape)

      Col1         Col2
row1     1            2
row2     2            4
row3     5            6
2
<class 'pandas.core.frame.DataFrame'>
(3, 2)

In [ ]:
import pandas as pd
cities = pd.DataFrame([['Sacramento', 'California'], ['Miami', 'Florida']], columns=['City', 'State'])
cities.to_csv('cities.csv')

In [ ]:
df = pd.read_csv('cities.csv')
print(df)

In [ ]:
import pandas as pd
cities = pd.DataFrame([['Sacramento', 'California'], ['Miami', 'Florida']], columns=['City', 'State'])
cities.to_csv('cities.csv', index=False)

In [ ]:
df = pd.read_csv('cities.csv')
print(df)

In [ ]:
import pandas as pd
cities = pd.DataFrame([['Sacramento', 'California'], ['Miami', 'Florida']], columns=['City', 'State'])
cities.to_csv('cities.csv', index=False, sep=';')

In [ ]:
print( 10/ 2 )

5.0

In [ ]:
a = 10
b = 0
print( a / b)
print(" Thank you")
print("hi")

ZeroDivisionError: ignored

In [ ]:
print(str2)

NameError: ignored

In [ ]:
import sys

a = 10
b = 4
#str2 ="hi"
str3 = "Mohan"


try:
  print( a / b)
  print(str3)
  print(str3+10+str3)
except NameError as ne: # aliasing
  print("The error ocuured",sys.exc_info()[0])
except ZeroDivisionError as zde:
  print("The error ocuured", zde)
except:
  print("The general error", sys.exc_info()[0])
else:
  print("No error")
finally:
  print("Exception has been cured")
print(" Thank you")
print("hi")

try:
  pass
except:
  pass
else:
  pass
finally:
  pass

2.5
Mohan
The general error <class 'TypeError'>
Exception has been cured
 Thank you
hi

In [ ]:
import sys
a = 0
try:
  print("The entry is", a)
  r = 1/a
except:
  print("SemanticError", sys.exc_info()[0], "occurred.")
else:
  print("Thank you. Code executed")
finally:
  print("Finally done")

The entry is 0
SemanticError <class 'ZeroDivisionError'> occurred.
Finally done

In [ ]:
# program to print the reciprocal of even numbers
num = int(input("Enter a number: "))
try:    
    assert num % 2 == 0
except:
    print("Not an even number!")
else:
    reciprocal = 1/num
    print(reciprocal)

Enter a number: 1
Not an even number!

In [ ]:
import math
import numpy as np


str1 = "thanks"
num = 10
a = 5

try:
   # do something
   print(" the value is", a)
   print(str1 + num + str1)
   print(math.sqrt(-1)
     
except ValueError:
   # handle ValueError exception
   print("This", sys.exc_info()[0], "occurred")

except (TypeError, ZeroDivisionError) as e:
   # handle multiple exceptions
   # TypeError and ZeroDivisionError
   print("Ohh", e.__class__, "occurred.")

except:
   # handle all other exceptions
   pass

SyntaxError: ignored

In [ ]:
a = 10
b = 2

try:
    c = a / b
    print(c)
except ZeroDivisionError as error:
    print(error)
finally:
    print('Finishing up.')

In [ ]:
x = 10
if x > 5:
    raise Exception('x should not exceed 5. The value of x was: {}'.format(x))

Exception: ignored

In [ ]:
x = 4
try:
  if x > 5:
    raise Exception('x should not exceed 5. The value of x was: {}'.format(x))
except:
  print("Manual exception occured")
else:
  print("exception is not caught")

exception is not caught

In [ ]:
x = 6
try:
  assert x <= 5
#   raise Exception('x should not exceed 5. The value of x was: {}'.format(x))
except:
  print("Manual exception occured")
else:
  print("exception is not caught")

Manual exception occured

In [ ]:
import sys
assert ('linux' in sys.platform), "This code runs on Linux only."

In [ ]:
# import module sys to get the type of exception
import sys

randomList = ['a', 0, 2]

for entry in randomList:
    try:
        print("The entry is", entry)
        r = 1/int(entry)
        break
    except:
        print("Ohh", sys.exc_info()[0], "occurred.")
        print("Next entry.")
        print()
print("The reciprocal of", entry, "is", r)

In [ ]:
# import module sys to get the type of exception
import sys

randomList = ['a', 0, 2]

for entry in randomList:
    try:
        print("The entry is", entry)
        r = 1/int(entry)
        break
    except Exception as e:
        print("Ohh!", e.__class__, "occurred.")
        print("Next entry.")
        print()
print("The reciprocal of", entry, "is", r)

In [ ]:

import math

try:
    x = int(input('Please enter a positive number:\n'))
    try:
        print(f'Square Root of {x} is {math.sqrt(x)}')
    except ValueError as ve:
        print(f'You entered {x}, which is not a positive number.')
except ValueError as ve:
    print('You are supposed to enter positive number.')

In [ ]:
import math


def num_stats(x):
    if x is not int:
        raise TypeError('Work with Numbers Only')
    if x < 0:
        raise ValueError('Work with Positive Numbers Only')

    print(f'{x} square is {x * x}')
    print(f'{x} square root is {math.sqrt(x)}')

In [ ]:
'''
BaseException
 +-- SystemExit
 +-- KeyboardInterrupt
 +-- GeneratorExit
 +-- Exception
      +-- StopIteration
      +-- StopAsyncIteration
      +-- ArithmeticError
      |    +-- FloatingPointError
      |    +-- OverflowError
      |    +-- ZeroDivisionError
      +-- AssertionError
      +-- AttributeError
      +-- BufferError
      +-- EOFError
      +-- ImportError
      |    +-- ModuleNotFoundError
      +-- LookupError
      |    +-- IndexError
      |    +-- KeyError
      +-- MemoryError
      +-- NameError
      |    +-- UnboundLocalError
      +-- OSError
      |    +-- BlockingIOError
      |    +-- ChildProcessError
      |    +-- ConnectionError
      |    |    +-- BrokenPipeError
      |    |    +-- ConnectionAbortedError
      |    |    +-- ConnectionRefusedError
      |    |    +-- ConnectionResetError
      |    +-- FileExistsError
      |    +-- FileNotFoundError
      |    +-- InterruptedError
      |    +-- IsADirectoryError
      |    +-- NotADirectoryError
      |    +-- PermissionError
      |    +-- ProcessLookupError
      |    +-- TimeoutError
      +-- ReferenceError
      +-- RuntimeError
      |    +-- NotImplementedError
      |    +-- RecursionError
      +-- SyntaxError
      |    +-- IndentationError
      |         +-- TabError
      +-- SystemError
      +-- TypeError
      +-- ValueError
      |    +-- UnicodeError
      |         +-- UnicodeDecodeError
      |         +-- UnicodeEncodeError
      |         +-- UnicodeTranslateError
      +-- Warning
           +-- DeprecationWarning
           +-- PendingDeprecationWarning
           +-- RuntimeWarning
           +-- SyntaxWarning
           +-- UserWarning
           +-- FutureWarning
           +-- ImportWarning
           +-- UnicodeWarning
           +-- BytesWarning
           +-- EncodingWarning
           +-- ResourceWarning


'''

In [ ]:
try:
   # do something
   pass

except ValueError:
   # handle ValueError exception
   pass

except (TypeError, ZeroDivisionError):
   # handle multiple exceptions
   # TypeError and ZeroDivisionError
   pass

except:
   # handle all other exceptions
   pass

In [ ]:
# program to print the reciprocal of even numbers

try:
    num = int(input("Enter a number: "))
    assert num % 2 == 0
except:
    print("Not an even number!")
else:
    reciprocal = 1/num
    print(reciprocal)

In [ ]:
try:
   f = open("test.txt",encoding = 'utf-8')
   # perform file operations
finally:
   f.close()